<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
</head>
<body>
<center><h1>{{ header }}</h1></center>
	<center>
		<a href=" {% url 'home' %}"> Home </a> | 
		<a href=" {% url 'aboutus' %}"> About </a>
	</center>
<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id dui eros. Nunc consectetur, leo sit amet aliquet convallis, risus nisl consequat dui, non hendrerit mauris leo id nisi. Quisque quam justo, faucibus sed nisi non, lobortis accumsan neque. Proin tristique elementum suscipit. Nulla nec rhoncus quam, at fringilla nunc. In ornare massa lectus, vitae venenatis metus convallis vitae. Etiam fermentum semper elit. Vivamus dolor justo, aliquet quis mi a, tincidunt faucibus purus. Curabitur non fringilla nulla, eu tincidunt orci. Vivamus in lorem eu sem rutrum cursus a ut orci. Nullam ac aliquam sapien. Donec rhoncus, nibh ac consequat ultrices, metus felis condimentum diam, sed interdum tortor tortor hendrerit tortor. Maecenas vel risus vel tortor fermentum venenatis. Nullam volutpat faucibus nunc quis elementum.
</p>
<p>
	Maecenas a tristique elit, et mattis velit. Fusce et ligula eu justo laoreet euismod. Proin tempus nunc sit amet mi hendrerit porttitor. Praesent scelerisque justo vitae mollis ornare. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin ipsum nulla, maximus sodales neque nec, elementum hendrerit tortor. Aenean non diam at risus lobortis ultricies eget vel metus. Integer placerat mauris massa, eget porta elit congue sed. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean gravida ullamcorper enim quis sollicitudin. Vestibulum suscipit neque non mi pulvinar imperdiet. Pellentesque finibus orci vitae tincidunt auctor.
</p>
<p>
	Curabitur fringilla, lorem ut iaculis facilisis, tortor augue commodo magna, ac rhoncus nisl lectus id magna. Praesent et lobortis enim. Nunc vitae turpis facilisis, porta ex vehicula, vulputate erat. Suspendisse fermentum sodales ante sed vulputate. Phasellus efficitur nulla nec pretium tristique. Nam quis aliquet quam. Quisque semper interdum tortor nec tempus.
</p>
<p>
	Suspendisse nec risus faucibus, accumsan risus sed, iaculis nunc. Nam commodo diam magna, eu fermentum ex posuere id. Nullam placerat purus a arcu vestibulum cursus. Aenean vitae sem a purus tristique malesuada et pellentesque enim. Ut scelerisque aliquet cursus. Sed eget arcu in neque suscipit commodo. Sed ac mi convallis, commodo augue id, egestas metus. Proin in tristique massa.
</p>
<p>
	Pellentesque tincidunt sapien in magna gravida sagittis. Fusce commodo ornare sem in sollicitudin. Ut consequat elementum dui, nec pellentesque sapien venenatis in. Pellentesque in porta risus. Vivamus id mauris sed sem porta blandit. Cras interdum leo quis elementum congue. Aliquam eu efficitur diam
</p>
</body>
</html>