<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
</head>
<body>
	<center><h1>{{ header }}</h1></center>
	<center>
		<a href=" {% url 'home' %}"> Home </a> | 
		<a href=" {% url 'about-us' %}"> About </a>
	</center>
	
	<div style="padding: 0 0 0 30px">
		<h2>Enter Text</h2>
		<form action="{% url 'count' %}">
			<textarea cols="160" rows="25" name="fulltext"></textarea>
			<br><br><br>
			<input type="submit" value="Count" style="height:50px; width:250px" />
		</form>
	</div>
</body>
</html>